<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>About Us</title>

  <style>

    body{
      background-color:white;
      color: red;
    }
    </style>
</head>
<body>
  <p><center> Welcome to About us page</center></p>
  <p1>{{data}}</p1>
  {%for dt in data%}
  {%for k , v in dt.items()%}
    <p>{{k}} {{v}}</p>
    {%endfor%}
  {%endfor%}
</body>
</html>

<!-- 
{{}} --> variables

{% for % } -- for loops -->